body {
	margin: 0;
	padding: 0;
}

.container {
	padding: 0;
	margin: 0;
	width: 100%;
	position: absolute;
	background: green;
}

#svg-normal-mask {
	-webkit-mask: url(circle.svg);
	mask: url(circle.svg);
	position: relative;
	-webkit-mask-position: 0px 0px;
	-webkit-mask-repeat: no-repeat;
	width: 100%;
	position: relative;
}

#full_page {
		background-image: url(pic/img1a.jpeg);
		background-repeat: no-repeat;
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		background-size: 100%;
		-o-background-size: 100%;
		margin: 0px;
		min-height: 100%;
		width: 50%;
		height: 100%;
		top: 0;
		float: left;
		left: 0;
		cursor: none;
		/*margin: 10% 0 0 10%;*/
}

#svg-normal-mask2 {
		-webkit-mask: url(square.svg);
		mask: url(circle.svg);
		position: relative;
		-webkit-mask-position: 0px 0px;
		-webkit-mask-repeat: no-repeat;
		width: 100%;
		position: relative;
		/*top: 109px;*/
}

#full_page2 {
		background-image: url(pic/img2a.jpeg);
		background-repeat: no-repeat;
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		background-size: 100%;
		-o-background-size: 100%;
		margin: 0px;
		min-height: 100%;
		width: 50%;
		background-size: 100%;
		top: 0;
		left: 0;
		cursor: none;
}

#svg-normal-mask3 {
		-webkit-mask: url(circle.svg);
		mask: url(circle.svg);
		position: relative;
		-webkit-mask-position: 0px 0px;
		-webkit-mask-repeat: no-repeat;
		width: 100%;
		position: relative;
		/*top: 109px;
		/*left: 43px;*/
}

#full_page3 {
		background-image: url(pic/img3a.jpeg);
		background-repeat: no-repeat;
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		background-size: 100%;
		-o-background-size: 100%;
		margin: 0px;
		min-height: 100%;
		width: 50%;
		background-size: 100%;
		top: 0;
		left: 0;
		cursor: none;
}

#svg-normal-mask4 {
		-webkit-mask: url(circle.svg);
		mask: url(circle.svg);
		position: relative;
		-webkit-mask-position: 0px 0px;
		-webkit-mask-repeat: no-repeat;
		width: 100%;
		position: relative;
		/*top: 109px;*/
		/*left: 43px;*/
}

#full_page4 {
		background-image: url(pic/img5a.jpg);
		background-repeat: no-repeat;
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		background-size: 100%;
		-o-background-size: 100%;
		margin: 0px;
		min-height: 100%;
		width: 50%;
		background-size: 100%;
		top: 0;
		left: 0;
		cursor: none;
}

#svg-normal-mask5 {
		-webkit-mask: url(circle.svg);
		mask: url(circle.svg);
		position: relative;
		-webkit-mask-position: 0px 0px;
		-webkit-mask-repeat: no-repeat;
		width: 100%;
		position: relative;
		/*top: 109px;*/
		/*left: 43px;*/
}

#full_page5 {
		background-image: url(pic/reef.jpg);
		background-repeat: no-repeat;
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		background-size: 100%;
		-o-background-size: 100%;
		margin: 0px;
		min-height: 100%;
		width: 50%;
		background-size: 100%;
		top: 0;
		left: 0;
		cursor: none;
}

#svg-normal-mask6 {
		-webkit-mask: url(circle.svg);
		mask: url(circle.svg);
		position: relative;
		-webkit-mask-position: 0px 0px;
		-webkit-mask-repeat: no-repeat;
		width: 100%;
		position: relative;
		/*top: 109px;*/
		/*left: 43px;*/
}

#full_page6 {
		background-image: url(pic/img4a.png);
		background-repeat: no-repeat;
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		background-size: 100%;
		-o-background-size: 100%;
		margin: 0px;
		min-height: 100%;
		width: 50%;
		background-size: 100%;
		top: 0;
		left: 0;
		cursor: none;
}

/*#svg-normal-mask7 {
		-webkit-mask: url(circle.svg);
		mask: url(circle.svg);
		position: relative;
		-webkit-mask-position: 0px 0px;
		-webkit-mask-repeat: no-repeat;
		width: 100%;
		position: relative;
}

#full_page7 {
		background-image: url(pic/img6a.png);
		background-repeat: no-repeat;
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		background-size: 100%;
		-o-background-size: 100%;
		margin: 0px;
		min-height: 100%;
		width: 50%;
		background-size: 100%;
		top: 0;
		left: 0;
}*/

.title {
		font-family: 'Arvo', serif;
		font-family: 'BioRhyme', serif;
		font-family: 'Lato', sans-serif;
		font-family: 'Arvo', serif;
		font-size: 64px;
		color: white;
		font-weight: 400;
		line-height: 1;
		color: #0C1617;
}

.title h1 {
		margin: 0;
}

.title_text {
		text-align: left;
		width: 45%;
		float: left;
		font-family: 'Arvo', serif;
		font-size: 32px;
		font-weight: 300;
		color: floralwhite;
}

p {
		padding: 0;
		margin-top: 0;
		font-size: 22px;
			line-height: 1.6;
			letter-spacing: 0.5px;
}

h1 {
		margin-bottom: 0;
}

section {
		display: flex;
		align-items: center;
			justify-content: space-between;
		position: relative;
		margin: 5% 0;
		flex-wrap: wrap;
}

section:after {
		/* Imaginary class name */
		content: "";
		clear: both;
		display: table;
}


@media screen and (max-width: 768px) {
	/*body {
		background-color: red;
	}*/
	.container {
		width: auto;
	}
	#full_page, #full_page1, #full_page2, #full_page3, #full_page4, #full_page5, #full_page6 {
		width: 100%;
	}
	.title_text {
		width: 100%;
		margin: 10px 50px;
	}
	section:nth-child(2n) {
		flex-wrap: wrap-reverse;
	}
}